<div class="container">
	<%= render 'shared/sidebar' %><br>
	<div class="right_nav">
		<p class="message_icon">
			message icon
		</p>
		<p class="flash_message ease">MailGator</p>
		<p class="flash_text">Letters are among the most significiant memirial a person can leave behind them.</p>
	</div><!-- right_nav -->
</div><!-- container -->