<div class="slider">
	<div class="slider_container">
		<div class="slider_content">
			<p>icon</p>
			<a herf="#">
				Email for people with<br /> something to say
			</a>
			</div>
	</div>
</div>
<div class="works_container">
<div class="howit_wrks_container">
	<div class="howit_wrks">
		How it works ?
	</div>
	<div class="works_details_container">

		<div class="works_details">
			<img src="../assets/email.png">
			<div class="detail_text">
			<h1>Send your EmailGator</h1>
			<p>There aren't any templates to bother with. OneEven Adjust the Click , and You're off. We'll even adjust the font size and line height</p>
		</div>
	</div>

	<div class="works_details">
			<img src="../assets/design.png">
			<div class="detail_text">
			<h1>Design your subscribe page.</h1>
			<p>There aren't any templates to bother with. OneEven Adjust the Click , and You're off. We'll even adjust the font size and line height</p>
		</div>
	</div>

	<div class="works_details">
			<img src="../assets/reply.png">
			<div class="detail_text">
			<h1>Reply to your readers.</h1>
			<p>There aren't any templates to bother with. OneEven Adjust the Click , and You're off. We'll even adjust the font size and line height</p>
		</div>
	</div>

	<div class="works_details">
			<img src="../assets/statistic.png">
			<div class="detail_text">
			<h1>Statistic.</h1>
			<p>There aren't any templates to bother with. OneEven Adjust the Click , and You're off. We'll even adjust the font size and line height</p>
		</div>
	</div>
	</div>
<br style="clear:both;">
</div>
</div>