<div class="container">
	<div class="subscribe_container">
		<h1>My Newsletter</h1>
		<p>by nitingrover</p>
		<p>What type of content do you plan to share with your subscribers?</p>
		<%= link_to "View the letter Archive", "javascript:void()", :class => "ease" %>

		<label>Enter your email address to subscribe</label><br />
		<input type="emial" class="email">
		<input type="submit" value="SUBSCRIBE" class="subscribe_btn ease">
	
	</div>
</div>